calendar.json
{
  "name": "calendar",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "text"
            },
            {
              "name": "sessionId"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -288,
        -128
      ],
      "id": "b50d9fed-ced8-4037-ad81-b40fc2cee566",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=You are a calender assistant who can easily create events in the google calender.\n\nYou have to provide with the start date and the end date.\n\nThe current date and time is {{ $now }}.\n\nAdditionally you have to provide with summary and other details for the calender which your tool night need.\n\nIn case you have to get the events, use get events tools and not the create events one, you can get multiple events as well.\n\nMake sure that you provide the response in a good summarize manner without any links etc."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -48,
        -112
      ],
      "id": "8cff080f-bca5-4d88-a15d-fedfc6b45c94",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -192,
        176
      ],
      "id": "cf81f395-c1c3-48d5-9ff2-f69f5c470a0e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "WOcZiPX6Af6syNc5",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "anamikaintern0304@gmail.com",
          "mode": "list",
          "cachedResultName": "anamikaintern0304@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        112,
        192
      ],
      "id": "2ba1a966-e253-4168-a5b3-a363a5726f4d",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UdlQi1CZp0OeLxy2",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=00-{{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        208
      ],
      "id": "0a306155-6431-4ee9-adf1-c8ff81e4f26f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "anamikaintern0304@gmail.com",
          "mode": "list",
          "cachedResultName": "anamikaintern0304@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        240,
        192
      ],
      "id": "bbf3a5fe-1e77-49fb-85b9-3f01fc700f94",
      "name": "Create an event in Google Calendar1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "UdlQi1CZp0OeLxy2",
          "name": "Google Calendar account 3"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api-for-calendar",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -768,
        416
      ],
      "id": "e1dfe2bc-90f8-47d3-9011-4708edc86640",
      "name": "Webhook",
      "webhookId": "501d7974-7082-42fa-a2ff-5874ab06139e"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        704,
        -112
      ],
      "id": "5d3ae2b3-5698-4cea-8321-fac7f49f058b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -560,
        416
      ],
      "id": "14a8a845-d495-4055-83a4-9388cd0ae248",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b7f28138-608a-4c04-83b4-67b87cb18e96",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        304,
        -112
      ],
      "id": "d921754b-a992-4b23-a491-dbe439eb3e02",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "43de2f2a-22c4-4d48-a63f-3177e9347fc4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c39e20ef0229deed946d94cbe204bbf95ec2cdfe5b3914c11f3dd9919567e6d"
  },
  "id": "I9YwHRNetVla4OVz",
  "tags": [
    {
      "updatedAt": "2025-11-03T14:26:20.187Z",
      "createdAt": "2025-11-03T14:26:20.187Z",
      "id": "5yiAQ46Hcuxno2b7",
      "name": "Google Calender new"
    }
  ]
}